.container {
    display: inline-block;
}

.container > p {
    font-size: 9vw;
    line-height: 9vw;
    letter-spacing: -0.03em;
    color: #212121;
    text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff; 
}

.solid {
    color: #fff;
    text-shadow: none;
}
