.side-menu {
    left: 43px;
    font-size: 1.1rem;
    position: fixed;
    text-transform: uppercase;
    transform: translateY(-50%);
    top: 50%;
    z-index: 40;
    animation-fill-mode: forwards;
}

.side-menu-list, .side-menu-list a {
    position: relative;
    backface-visibility: hidden;
}

.side-menu-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
    list-style: none;
}

.side-menu-list a {
    line-height: 1.5;
    text-decoration: none;
    display: block;
    padding: .7rem 1rem;
}

.side-menu-dot {
    margin-top: -8px;
    transform: scale(1);
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 18px;
    height: 18px;
}

.side-menu-dot:before {
    width: 10px;
    height: 10px;
    background-color: var(--color-foreground);
    transform: translate(-50%, -50%);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform .35s, opacity .35s, -webkit-transform .35s;
}

.side-menu-dot:after {
    border: 1px solid var(--color-foreground);
    width: 14px;
    height: 14px;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform .35s, opacity .35s, -webkit-transform .35s;
}

.side-menu-link-name {
    display: inline-block;
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
    transition: transform .35s, opacity .35s, -webkit-transform .35s;
}

.side-menu-item.active .side-menu-link-name, .side-menu-item:hover .side-menu-link-name {
    opacity: 1;
    transform: translate3d(12px, 0, 0);
}

.side-menu-item.active .side-menu-dot:before, .side-menu-item:hover .side-menu-dot:before {
    background-color: var(--color-active);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition-delay: 0s;
}

.side-menu-item.active .side-menu-dot:after, .side-menu-item:hover .side-menu-dot:after {
    border-color: var(--color-active);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition-delay: 0s;
}

.side-menu-item:not(.active):not(:hover) .side-menu-dot:after {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition-delay: 0s;
}

@media screen and (max-width: 768px) {
    .side-menu {
        display: none;
    }
}