.hero-container {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    height: calc(100vh - 340px);
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
}

.hero-heading {
    font-size: 5rem;
    color: var(--color-foreground);
    text-align: center;
    font-weight: 300;
    max-width: 1000px;
}

.hero-subheading {
    font-size: 2rem;
    color: var(--color-foreground);
    text-align: center;
    font-weight: 200;
    max-width: 800px;
    margin-bottom: 2rem;
}







