.hero-container {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    padding: 3rem;
    gap: 4rem;
    width: 100%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    margin-right: 4rem;
}

.heading > p {
    font-size: 5rem;
}

.sub-heading > p {
    font-size: 1.5rem;
}


.hero-illustration {
    width: 1200px;
    height: 600px;
    background-color: var(--color-content2);
}






