.about-container {
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh; 
}

.about-container p {
    font-weight: 400;
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    .about-container {
        max-width: 350px;
    }

    .about-container p {
        font-size: 1.5rem;
    }
}