.projects-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    gap: 3rem;  
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project-info {
    display: flex;
    justify-content: space-between;
}

.skills-container {
    display: flex;
}

.project-title > p {
    font-weight: 600;
    font-size: 2rem;
    color: var(--color-foreground);
}

.project-year {
    display: flex;
    align-items: center;
}

.project-year > p {
    font-weight: 200;
    font-size: 22px;
    color: var(--color-foreground);
}

.project-description > p {
    font-weight: 200;
    color: var(--color-foreground);
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .projects-container {
        max-width: 350px;
    }
}