@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');


:root {
  --font-family: "Agdasima", sans-serif;
  --color-background: #121212;
  --color-foreground: #ECEDEE;
  --color-divider: #FFFFFF26;
  --color-focus: #006FEE;

  --color-content1: #18181B;
  --color-content2: #27272a;
  --color-content3: #3F3F46;
  --color-content4: #52525b;

  --color-base-default: #3f3f46;
  --color-base-primary: #006fee;
  --color-base-secondary: #9353d3;
  --color-base-success: #17c964;
  --color-base-warning: #f5a524;
  --color-base-danger: #f31260;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-size: 16px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--font-family);
  background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.15rem;
}

p {
  margin: 0;
  letter-spacing: 0.3rem;
  color: var(--color-foreground);
}

a {
  color: var(--color-foreground);
  letter-spacing: 0.3rem;
}

