@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  font-family: 'Druk Wide Bold', sans-serif;
  font-weight: 400;

  --color-background: #000000;
  --color-foreground: #ECEDEE;
  --color-divider: #FFFFFF26;
  --color-focus: #006FEE;

  --color-content1: #18181B;
  --color-content2: #27272a;
  --color-content3: #3F3F46;
  --color-content4: #52525b;

  --color-base-default: #3f3f46;
  --color-base-primary: #006fee;
  --color-base-secondary: #9353d3;
  --color-base-success: #17c964;
  --color-base-warning: #f5a524;
  --color-base-danger: #f31260;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

p {
  margin: 0;
  letter-spacing: -0.05rem;
  color: var(--color-foreground);
}

